<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Practo Hospital Automation Suite">

    <listeners>
        <listener class-name="org.example.listeners.ExcelReportListener"/>
    </listeners>

    <test name="Hospital Validation Tests">

        <classes>
             <class name="org.example.tests.TC01HospitalAvailability247Test"/>
             <class name="org.example.tests.TC02ParkingAvailabilityTest"/>
             <class name="org.example.tests.TC03RatingValidationTest"/>
             <class name="org.example.tests.TC04NearestHospitalTest"/>
             <class name="org.example.tests.TC05BestRatedHospitalTest"/>
             <class name="org.example.tests.TC06VerifyMultipleEligibleHospitalsTest"/>
             <class name="org.example.tests.TC07VerifyTopCitiesSectionDisplayedTest"/>
             <class name="org.example.tests.TC08CaptureTopCitiesTest"/>
             <class name="org.example.tests.TC09VerifyTopCitiesAreUniqueTest"/>
            <class name="org.example.tests.TC10FindEligibleHospitalsInTopCitiesTest"/>
             <class name="org.example.tests.TC11VerifyNavigationTest"/>
             <class name="org.example.tests.TC12FilterByGenderTest"/>
            <class name="org.example.tests.TC13FilterByPatientStoriesTest"/>
            <class name="org.example.tests.TC14FilterByFeesAndExperienceTest"/>
        </classes>
    </test>
</suite>